/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   display: flex;
   font-family: 'Quicksand', sans-serif;
 }
 .container {
   display: flex;
   flex-direction: column;
   padding: 20px;
   min-height: 300px;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
   font-family: 'Quicksand', sans-serif;
   max-width: 60%;
   border: 8px solid #71D97E;
   border-radius: 3%;
 }

h1 {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Syncopate', sans-serif;
}

 .container > .handicap-box {
   margin-left: auto;
   margin-right: auto;
 }

.handicap-box{
  display: flex;
  flex-direction:column;
  margin-bottom: 30px;
}

.handicap-box > div{
  font-size: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

h3 {
  margin-left: auto;
  margin-right: auto;
}

.course-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-box {
  margin: 10px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  background-color: #A2EBAB;
}

.add {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  border: none;
}

.add a:link {
  font-size: 50px;
  text-decoration: none;
  color: black;
}

.course-box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-name {
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  margin-top: 10px;
}

 button {
   font-size: 14px;
   padding: 10px;
   border-radius: 10%;
   color: white;
   width:70%;
   background-color: #BB387D;
 }

 button a:link {
   text-decoration: none;
   color: white;
 }

 button a:link:hover {
   cursor: pointer;
   background-color: inherit;
   font-weight: bold;
 }

 p a:link {
   text-decoration: none;
   font-size: 16px;
   color: black;
   padding: 0px;
 }

 p a:link:hover {
   background-color: inherit;
   color: white;
 }

 .score-item {
   padding: 20px;
 }
